body{font-family: 'Lato' !important;
    z-index: 1;
    position: absolute;
    background-color: white !important;
    padding: 0 !important;
}

.logo {
    font-size: calc(1.5rem + 0.7vw) !important;
    font-family: 'Merienda';
}

.card { margin-top: 30px;
    border: none !important;
}

.card-body {
    padding: 0.3rem 0.3rem !important;
}

.card-title {font-weight: 500 !important;
    color: #212529;
    font-size: calc(0.9rem + 0.4vw) !important;

}

.titulop {
    font-size: calc(1.8rem + 0.8vw) !important;
}

.titulos {
    background-color: #b2131b !important;
}

.navbar {
    background-color: #b2131b !important;
}



.precio {font-weight: 300 !important;
    font-size: calc(1.0rem + 0.5vw) !important;
    color: #535252;
    display: inline-block;
}

.deldia {
	align-items: center;
}


.parrafo1 {

	font-size: calc(1.0rem + 0.5vw) !important;}

.parrafo2 {
	font-size: calc(1.2rem + 0.6vw) !important;}


.newstler {font-weight: 500 !important;
    font-size: calc(1.0rem + 0.7vw) !important;
    padding-top: 30px ;}

.casilla1 {margin-top: -15px !important;}

.casilla2 {margin-top: -10px !important;}

.btn-light {font-weight: 500 !important;
    font-size: 16px !important;
    color: #212529 !important;
    height: 40px;
    width: 112px;
}

.form-control {font-weight: 300 !important;
    font-size: 16px !important;
    color: #707070 !important;

}

footer p {font-weight: 300 !important;
    font-size: 16px !important;
    color: #707070;
}

a:link, a:visited, a:hover{
	text-decoration: none !important;
  }  

#pepe {
    animation: tilt-shaking 0.8s cubic-bezier(0, 0, 0.49, 0.49) infinite;
}

@keyframes tilt-shaking {

0% {
    transform: rotate(0deg);
}
65% {
    transform: rotate(0deg);
}
70% {
    transform: rotate(5deg);
}
75% {
    transform: rotate(0deg);
}
80% {
    transform: rotate(-5deg);
}
85% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(0deg);
}
}